/*template 
position
display
size: width > height
spacing: margin > padding
color: background > font
fonts: family > size > weight
text: decoration > shadow
border
animation
transition
*/

/*imports*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');

/*tags*/
html {
	scroll-behavior: smooth;
}
body {
	margin: 0;
	font-family: 'Quicksand', sans-serif;
}
nav {
	position: fixed;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 100vw;
	height: 10vh;
	/* background: #00519c8a; */
	/* box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5); */
}
footer {
	display: flex;
	justify-content: space-evenly;
	width: 100vw;
	height: 15vh;
	padding: 0 25vw;
	color: #fff;
	align-self: flex-end;
}
a {
	color: #fff;
	text-decoration: none;
}
a:hover {
	cursor: pointer;
}
/*classes*/
.op {
	font-size: 2.4em;
	font-weight: 300;
	transition: all 0.1s ease;
	text-transform: uppercase;
}
.op:hover {
	text-shadow: 0 0 10px #fff;
}
.wrapper {
	background: linear-gradient(180deg, #2596ff 0%, #71baff 80%);
}
.page {
	display: flex;
	height: 100vh;
	width: 100vw;
	justify-content: center;
	align-items: center;
}
.content-wrapper {
	display: flex;
	align-items: center;
	width: 50vw;
	height: 40vh;
}
/* about */
.about-logo {
	height: 30vh;
}
.about-text {
	font-size: 1.4em;
	padding: 0 0 0 5vw;
}
.footer-logo {
	height: 12.5vh;
}
.social-icons {
	display: flex;
	justify-content: space-around;
	padding-top: 20px;
}

/*ids*/

/*pseudo-elements*/
::-webkit-scrollbar {
	display: none;
}

/*keyframes animations*/
